# Ignore all cmake junk except for CMakeLists.txt files.
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

*/.deps/
*/CMakeCache.txt
*/CMakeFiles/
*/cmake_install.cmake
*/Makefile

# Ignore test binary
tests/all

# Vim backups
# First 16 backups are made decrementing file extensions, starting at .swp.
*.sw[a-p]
